__pycache__/*
.vscode/*
.DS_Store
ssatABC/*
aif360/*
fair_Max_Entropy_Distributions/*
backup_output/*
data/output/fig/*
verifair/*
fairsquare/*
pgmpy_notebook/*
notears/*
dist/*
justicia.egg-info/*
.vscode/*
*/__pycache__/*
build/*
temp/*
*sdimacs*
*/*sdimacs*
tests/*
data/model/*
data/model*
data/output/*
doc/data/*
data/raw/reduced*
*.pyc